[user]
	email = 65565660+maximiliano2013-rei@users.noreply.github.com
	name = Maximiliano Cechetto Reinert
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
